{% include 'navbar.html' %}
<h1>universe page</h1>
<div>
    <a href="{% url 'home' %}?q=action">
        <h5>action</h5>
    </a>
    <a href="{% url 'home' %}?q=drama">
        <h5>drama</h5>
    </a>
    <form action="{% url 'home' %}" method="GET" class="header__search">
        <label>
            <title>search</title>
          <input name="q" placeholder="Search for posts" />
        </label>
    </form>
    {% for universe in universes %}
    <h2><a href="{% url 'movies' universe.id %}">{{ universe.name }}</a></h2>
    <h3>{{ universe.total_movies }}</h3>
    <h3>
        {% for genre in universe.genres.all %}
            {{ genre.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </h3>
    <div>
        <img src="{{universe.image.url}}" alt="wohoo" height=100px>
        <h4>{{universe.description}}</h4>
        <h4>{{universe.rating}} *</h4>
    </div>
    {% endfor %}
    
</div>
